<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/classroom.css">
</head>

<body>
    <div id="main">
        <%- include('Partials/header.ejs') %> 
        <div id="center">
            <div id="left-panel">
                <div id="user">
                    <div id="user-image">
                        <% if(profile_dp != null){ %> 
                            <img src="<%=profile_dp.dp%>" alt="">
                        <% } else{ %> 
                            <img src="/images/default_dp.jpg" alt="No Profile Dp No Profile Dp No Profile Dp No Profile Dp No Profile Dp">
                        <% } %> 
                        <div id="user-profile-edit-btn">
                            <button onclick="document.querySelector('#op1').click()"><i class="ri-pencil-fill"></i></button>
                        </div>
                    </div>
                       
                    <div id="user-dets"> 
                        <h2 id="user-name"><%=user.name %></h2>
                    </div>
                </div>
                <div id="user-options">
                    <h3 id="op1"><i class="ri-user-6-line"></i>My Profile</h3>
                    <h3 id="op2"><i class="ri-information-line"></i>My Courses</h3>
                    <h3 id="op3"><a href="/signIn/bye"><i class="ri-logout-box-line"></i>Log out</a></h3>
                </div>
            </div>
            <div id="right-panel">
                <form id = "user-upload-profile-dp" action="/UploadProfile_dp" method="POST" enctype="multipart/form-data"></form>
                <form id="faram" action="/classroom/<%=user._id%>/updateProfile" method="post"></form>
                <div id="faram1">
                    <h1>Welcome, <span><%= user.name.split(' ')[0].toUpperCase()%></span>.</h1>
                    <h3>Account Details</h3>
                    <div id="firstName">
                        <input name="firstName" form="faram" id="firstNameInput" type="text" placeholder="first Name" value="<%= user.name.split(' ')[0]%>">
                    </div>
                    <div id="lastName">
                        <input name="lastName" form="faram" id="lastNameInput" type="text" value="<%= user.name.split(' ')[1] %>">
                    </div>
                    <div id="email">
                        <input name="email" form="faram" id="emailInput" type="email" value="<%= user.email %>" readonly>
                    </div>
                    <div id="phone">
                        <input name = "phoneNumber" form="faram" id="phoneInput" type="text" value="<%= user.phoneNumber %>"  placeholder="Contact No. (WhatsApp)">
                    </div>
                    <div id="update_dp">    
                                <input type="file" form="user-upload-profile-dp" onchange="loadFile(event)" name="dp" id="edit-profile-dp" placeholder="Edit" required>
                                <div id="user-image">
                                    <% if(profile_dp != null){ %> 
                                        <img src="<%= profile_dp.dp %>" style="display: inline-block;" id="output" width="100">
                                    <% } else{ %> 
                                        <img src="/images/default_dp.jpg" id="output" alt="No Profile Dp No Profile Dp No Profile Dp No Profile Dp No Profile Dp">
                                    <% } %> 
                                </div>
                                <button class="btn-edit">Edit Image</button>
                                <button button id="update_dp_btn" type="submit" form="user-upload-profile-dp">update</button>
                                <script>
                                    const fileinput  = document.querySelector('input[type=file]');
                                    const btnedit  = document.querySelector('.btn-edit');

                                    fileinput.style.visibility = 'hidden';
                                    
                                    btnedit.addEventListener('click',()=>{
                                        fileinput.click();
                                    });

                                    var loadFile = function(event) {
                                        var image = document.getElementById('output');
                                        image.src = URL.createObjectURL(event.target.files[0]);
                                    };
                                </script>
                    </div>

                    <div id="btns">
                        <button type="submit" form="faram" id="savebtn">Save</button>
                        <script>
                            const update_dp_btn = document.querySelector('#update_dp_btn');
                            const save_btn = document.querySelector('#savebtn');

                            save_btn.addEventListener('click',()=>{
                                update_dp_btn.click();
                            });
                        </script>
                        <button id="cancelbtn">Cancel</button>
                    </div>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js" integrity="sha512-/n/dTQBO8lHzqqgAQvy0ukBQ0qLmGzxKhn8xKrz4cn7XJkZzy+fAtzjnOQd5w55h4k1kUC+8oIe6WmrGUYwODA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <div id="right-page2">
                    <% let countf = 0 %> 
                    <% let countc = 0 %>
                    <% for(let i of course[0].enrolledCourses){ %> 
                    <div class="card" id="card1">
                        <div id="course1-img" class="course-img"><img src="<%= i.image %>" alt="course1-img"></div>
                        <div id="course1-datails" class="course-details">
                            <h3 class="course-name" id="course1-name"><%= i.course_name %></h3>
                            <p class="course-para" id="course1-para"><%= i.subHeading%></p>
                            <p class="course-para" id="startOn<%= countc %>">
                                <script>
                                    var mydate = new Date("<%= i.startOn %>");
                                    var str = mydate.toString("MMMM dS");
                                    var starton = document.querySelector('#startOn<%=countc%>');
                                    starton.innerHTML = "Start On " + str;
                                </script>
                            </p>
                            <% if(user.feeStatus[countf].status === "pending") {%> 
                                <button onclick="window.location.href='/paymentPortal/<%= i._id%>'" class="fee-btn">Pay fees</button>
                                <button id="cancelenroll" class="fee-btn" style="background-color:rgb(254, 90, 90);  padding: 1.4vh 1vw;" onclick="window.location.href='/Courses/enroll/CancelEnrollment/<%= i._id %>'">Cancel Enrollment</button>
                                <% } else{ %>
                                    <button class="fee-btn" style="background-color: rgb(76, 199, 76); cursor: not-allowed;" disabled>Paid</button>
                                    <% } %> 
                                </div>
                            </div>
                            <% countf++; %>  
                            <% countc++; %> 
                        <% } %>
                            <% if(course[0].enrolledCourses.length === 0) {%> 
                        <div style="position: absolute; top:50%; left:50%; transform:translate(-50%,-50%)" id="no-enrolled">
                            <h2 style="color:rgb(95, 94, 94)"> You've Not Enrolled in any Course </h2></div>    
                    <% } %> 
                    <!-- <div class="card" id="card2">
                        <div id="course2-img" class="course-img"><img src="" alt="course2-img"></div>
                        <div id="course2-datails" class="course-details">
                            <h3 class="course-name" id="course2-name">Us se bhi achha CSS</h3>
                            <p class="course-para" id="course2-para">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Fuga, accusantium?</p>
                            <button class="fee-btn">Pay fees</button>
                        </div>
                    </div>
                    <div class="card" id="card3">
                        <div id="course3-img" class="course-img"><img src="" alt="course3-img"></div>
                        <div id="course3-datails" class="course-details">
                            <h3 class="course-name" id="course3-name">Gand fat jaye esa JS</h3>
                            <p class="course-para" id="course3-para">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Fuga, accusantium?</p>
                            <button class="fee-btn">Pay fees</button>
                        </div>
                    </div>
                    <div class="card" id="card4">
                        <div id="course4-img" class="course-img"><img src="" alt="course4-img"></div>
                        <div id="course4-datails" class="course-details">
                            <h3 class="course-name" id="course4-name">Lund</h3>
                            <p class="course-para" id="course4-para">Lorem ipsum, dolor sit amet consectetur adipisicing
                                elit. Fuga, accusantium?</p>
                            <button class="fee-btn">Pay fees</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector("#menu-icon").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "0vw"
        })
        document.querySelector("#cross").addEventListener("click", function () {
            document.querySelector("#fullscreen-nav").style.left = "-100vw"
        })

        document.querySelector("#lastNameInput").addEventListener("focusin", function () {
            document.querySelector("#lastnameh5").style.top = "-20%"
            document.querySelector("#lastnameh5").style.left = "7%"
            document.querySelector("#lastnameh5").style.fontSize = "14px"
            document.querySelector("#lastnameh5").style.zIndex = "11"


        })
        // document.querySelector("#lastNameInput").addEventListener("focusout", function () {
        //     document.querySelector("#lastnameh5").style.top = "25%"
        //     document.querySelector("#lastnameh5").style.left = "9%"
        //     document.querySelector("#lastnameh5").style.fontSize = "11px"

        // })
        document.querySelector("#firstNameInput").addEventListener("focusin", function () {
            document.querySelector("#firstnameh5").style.top = "-20%"
            document.querySelector("#firstnameh5").style.left = "7%"
            document.querySelector("#firstnameh5").style.fontSize = "14px"
            document.querySelector("#firstnameh5").style.zIndex = "11"

        })
        // document.querySelector("#firstNameInput").addEventListener("focusout", function () {
        //     document.querySelector("#firstnameh5").style.top = "25%"
        //     document.querySelector("#firstnameh5").style.left = "7%"
        //     document.querySelector("#firstnameh5").style.fontSize = "11px"

        // })
        document.querySelector("#emailInput").addEventListener("focusin", function () {
            document.querySelector("#emailh5").style.top = "-20%"
            document.querySelector("#emailh5").style.left = "2%"
            document.querySelector("#emailh5").style.fontSize = "14px"
            document.querySelector("#emailh5").style.zIndex = "11"


        })
        // document.querySelector("#emailInput").addEventListener("focusout", function () {
        //     document.querySelector("#emailh5").style.top = "25%"
        //     document.querySelector("#emailh5").style.left = "4%"
        //     document.querySelector("#emailh5").style.fontSize = "11px"
        // })

        document.querySelector("#phoneInput").addEventListener("focusin", function () {
            document.querySelector("#phoneh5").style.top = "-20%"
            document.querySelector("#phoneh5").style.left = "7%"
            document.querySelector("#phoneh5").style.fontSize = "14px"
            document.querySelector("#phoneh5").style.zIndex = "11"

        })
        
        // document.querySelector("#phoneInput").addEventListener("focusout", function () {
        //     document.querySelector("#phoneh5").style.top = "25%"
        //     document.querySelector("#phoneh5").style.left = "8%"
        //     document.querySelector("#phoneh5").style.fontSize = "11px"
        // })
        document.querySelector("#op1").addEventListener("click",function(){
            document.querySelector("#right-page2").style.opacity = 0;
            document.querySelector("#right-page2").style.display = 'none';
            document.querySelector("#right-page2").style.zIndex = 9;
            document.querySelector("#faram1").style.opacity = 1;
            document.querySelector("#faram1").style.display = 'flex';
            document.querySelector("#faram1").style.zIndex = 10;
            document.querySelector("#op1").style.backgroundColor = "white";
        })
        
        
         document.querySelector("#op2").addEventListener("click",function(){
            document.querySelector("#right-page2").style.opacity = 1;
            document.querySelector("#right-page2").style.display = 'initial';
            document.querySelector("#right-page2").style.zIndex = 10;
            document.querySelector("#faram1").style.opacity = 0;
            document.querySelector("#faram1").style.display = 'none';
            document.querySelector("#faram1").style.zIndex = 9;
        })

        // scroller.scrollTo(document.querySelector('#page2'));
        // const rightPage1 = document.querySelector("#right-page1");
        // const rightPage2 = document.querySelector("#right-page2");
        // const sel1 = document.querySelector("#sel1")
        // const sel2 = document.querySelector("#sel2")
        // document.querySelector("#left-panel #op1").addEventListener("click", function () {
        //     rightPage1.style.opacity = 1;
        //     rightPage2.style.opacity = 0;
        //     sel1.style.opacity = 1;
        //     sel2.style.opacity = 0;

        // })
        // document.querySelector("#op2").addEventListener("click", function () {
        //     rightPage1.style.opacity = 0;
        //     rightPage2.style.opacity = 1;
        //     sel1.style.opacity = 0;
        //     sel2.style.opacity = 1;
        // })
    </script>
</body>
</html>