<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
    <link rel="stylesheet" href="/css/CoursesDetails.css">
</head>
<body>
    <div id="main">
       <%- include('Partials/header.ejs')  %> 
        <div id="page1">
            <div id="main-page-center">
                <div id="center-part1">
                    <div id="center-image">
                        <img src="<%=course.image%>" alt="">
                        <h4><i class="ri-check-line"></i><%= course.bullet_points[0].first%></h4>
                        <h4><i class="ri-check-line"></i><%= course.bullet_points[0].second%></h4>
                        <h4><i class="ri-check-line"></i><%= course.bullet_points[0].third%></h4>
                        <h4><i class="ri-check-line"></i><%= course.bullet_points[0].fourth%></h4>
                    </div>
                </div>
                <div id="center-part2">
                    <h1><%= course.course_name %></h1>
                    <h5><%= course.subHeading %></h5>
                    <div id="elems">
                        <div id="elem1">
                            <h6>Type</h6>
                            <h5>Live Course</h5>
                        </div>
                        <div id="elem2">
                            <h6>Time</h6>
                            <h5><%= course.duration %></h5>
                        </div>
                        <div id="elem3">
                            <h6>Starting on</h6>
                            <h5><%= course.startOn %></h5>
                        </div>
                    </div>
                    <div id="price-n-class">
                        <h3>₹ <%=course.fees%></h3>
                        <% let check_user = 0 %> 
                        <% let check_tryForFree = 0 %> 
                        <% if(typeof user === 'undefined'){ %>
                            <% check_user = 1 %> 
                            <% } else{ %>
                            <% for(let j in user.enrolledCourses){ %> 
                                <% if(user.enrolledCourses[j].toString() === course._id.toString()){ %> 
                                        <% check_tryForFree = 1 %>
                                        <% break %> 
                                <% } %> 
                            <% } %> 
                        <% } %> 
                        <a <% if(check_user === 1){ %>
                            href = "/signIn"
                       <% } else{ %>  
                        <% if(check_tryForFree != 0){ %>
                            href=""
                            style="background-color: #79c979; cursor: no-drop;"
                            <% } else{ %>
                                href="/Courses/enroll/<%= course._id %>"
                            <% } %>
                        <% } %> ><i class="ri-play-fill"></i>
                        <% if(check_tryForFree != 0){ %>
                            Enrolled
                        <% } else { %>
                            Try for Free
                        <% } %>
                        </a>
                    </div>
                    <div id="details">
                        <h3>Details</h3>
                        <p><%= course.description %></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="page2">
            <h1 id="page2-head">Project Overview</h1>
            <div id="page2-part2">
                <div class="card" id="card1">
                    <div class="card-top" id="card1-top"><img src="<%= course.projectOverview[0].image %>" alt=""></div>
                    <div class="card-bottom" id="card1-bottom">
                        <h3> <%=course.projectOverview[0].Heading %></h3>
                        <p> <%=course.projectOverview[0].description %></p>
                    </div>
                </div>
                <div class="card" id="card2">
                    <div class="card-top" id="card2-top"><img src="<%= course.projectOverview[1].image %>" alt=""></div>
                    <div class="card-bottom" id="card2-bottom">
                        <h3> <%=course.projectOverview[1].Heading %></h3>
                        <p><%=course.projectOverview[1].description %></p>
                    </div>
                </div>
                <div class="card" id="card3">
                    <div class="card-top" id="card3-top"><img src="<%= course.projectOverview[2].image %>" alt=""></div>
                    <div class="card-bottom" id="card3-bottom">
                        <h3> <%=course.projectOverview[2].Heading %></h3>
                        <p> <%=course.projectOverview[2].description %></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="page3">
            <h2>Sample Live Lecture (it's fun)</h2>
            <h3>so that you know, not every online class is boring.</h3>
            <div id="page3-box">
                <iframe width="100%" height="100%" frameborder="0"
                src="https://www.youtube.com/embed/LZimeItWo9A?autoplay=0&mute=0">
                </iframe>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script>
        const scroll = new LocomotiveScroll({
            el: document.querySelector('#main'),
            smooth: true
        });

        document.querySelector("#menu-icon").addEventListener("click",function(){
            document.querySelector("#fullscreen-nav").style.left = "0vw"
        })
        document.querySelector("#cross").addEventListener("click",function(){
            document.querySelector("#fullscreen-nav").style.left = "-100vw"
        })
    </script>
    <!-- <script>
        var date = "<%= course.startOn %>";
        date = date.split("-");

        document.querySelector('#elem3 h5').innerHTML = date[2]+"th";
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js" integrity="sha512-/n/dTQBO8lHzqqgAQvy0ukBQ0qLmGzxKhn8xKrz4cn7XJkZzy+fAtzjnOQd5w55h4k1kUC+8oIe6WmrGUYwODA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
   var mydate = new Date("<%= course.startOn %>");
   var str = mydate.toString("MMMM dS");
   document.querySelector('#elem3 h5').innerHTML = str;
</script>
</body>
</html>
